html[data-theme="light"] {
  --pst-color-background: hsl(210, 35%, 92%);
  --pst-color-text-base: hsl(210, 50%, 10%);
  --pst-color-on-background: hsl(205, 100%, 97%);
  --pst-color-surface: hsl(220, 30%, 90%);
  --pst-color-border: hsl(220, 30%, 80%);
  --pst-color-primary: hsl(210, 90%, 40%);
  --pst-color-inline-code: hsl(210, 100%, 30%);
  --pst-color-secondary: hsl(210, 40%, 65%);
  --pst-color-secondary-highlight: hsl(210, 50%, 50%);
  --pst-color-accent: hsl(200, 100%, 85%);
  --pst-color-link-higher-contrast: red;
  --pst-color-muted: hsl(210, 100%, 5%);
  --pst-color-text-muted: hsl(215, 100%, 20%);
  --pst-color-info-bg: hsl(200, 10%, 80%);
  --pst-color-info: hsl(215, 100%, 35%);
  --pst-color-target: hsl(215, 45%, 85%);
}

html[data-theme="dark"] {
  --pst-color-background: hsl(210, 20%, 10%);
  --pst-color-text-base: hsl(210, 50%, 90%);
  --pst-color-on-background: hsl(210, 15%, 15%);
  --pst-color-surface: hsl(210, 20%, 15%);
  --pst-color-border: hsl(200, 10%, 25%);
  --pst-color-primary: hsl(210, 100%, 75%);
  --pst-color-inline-code: hsl(210, 100%, 80%);
  --pst-color-secondary: hsl(210, 30%, 35%);
  --pst-color-secondary-highlight: hsl(210, 50%, 40%);
  --pst-color-accent: hsl(200, 30%, 25%);
  --pst-color-link-higher-contrast: red;
  --pst-color-muted: hsl(210, 60%, 85%);
  --pst-color-text-muted: hsl(215, 20%, 75%);
  --pst-color-info-bg: hsl(200, 10%, 25%);
  --pst-color-info: hsl(215, 85%, 60%);
  --pst-color-target: hsl(220, 30%, 16%);
}
